<div
    class="position-absolute w-100 min-height-400 top-0 bg-default"
  >
    <span class="mask bg-default opacity-6"></span>
  </div>
  <div class="main-content position-relative max-height-vh-100 h-100">
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" href="http://localhost/CODEIGNITER/ventas-buenviaje/clientes/inicio">Buen Viaje</a></li>
            <li class="breadcrumb-item text-sm text-white active" aria-current="page">Ventas</li>
          </ol>
          <h6 class="font-weight-bolder text-white mb-0">Ventas</h6>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center">
            <div class="input-group">
            </div>
          </div>
          <ul class="navbar-nav  justify-content-end">
            <li class="nav-item d-flex align-items-center">
              <a href="http://localhost/CODEIGNITER/ventas-buenviaje/cerrarsesionclientes" class="nav-link text-white font-weight-bold px-0">
                <i class="fa fa-user me-sm-1"></i>
                <span class="d-sm-inline d-none">Cerrar Sesión</span>
              </a>
            </li>
            <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-white p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line bg-white"></i>
                  <i class="sidenav-toggler-line bg-white"></i>
                  <i class="sidenav-toggler-line bg-white"></i>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header pb-0">
              <div class="d-flex align-items-center">
                <p class="mb-0 h6 text-uppercase">Sistema de Ventas</p>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                      <div class="form-group">
                        <label>Codigo de barras</label>
                        <input
                          type="text"
                          class="form-control form-control-lg"
                          id="codigo_barras"
                        >
                      </div>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Codigo</label>
                        <input
                          type="text"
                          class="form-control form-control-sm"
                          id="codigo"
                          readonly
                        >
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Codigo EAN</label>
                        <input
                          type="text"
                          class="form-control form-control-sm"
                          id="codigo_barras2"
                          readonly
                        >
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Usuario vendedor</label>
                        <input
                          type="text"
                          class="form-control form-control-sm"
                          value="JERSON GALVEZ ENSUNCHO"
                          readonly
                        >
                      </div>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Nombre del producto</label>
                        <input
                          type="text"
                          class="form-control form-control-sm"
                          id="producto"
                          readonly
                        >
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Precio</label>
                        <div class="input-group">
                          <input
                            type="text"
                            class="form-control form-control-sm"
                            id="precio" 
                            aria-label="Amount (to the nearest dollar)"
                            readonly
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                        <label>Cantidad</label>
                        <input
                          type="number"
                          class="form-control form-control-sm"
                          min="0"
                          max="50"
                          id="cantidad"
                          readonly
                        >
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>Recibo de efectivo</label>
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        id="recibio"
                      >
                    </div>
                    <div class="col-md-6">
                      <label>Total</label>
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        id="total"
                        readonly
                      >
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="table-responsive">
                      <table class="table table-stripped table-hover">
                        <thead class="bg-default ">
                          <th class="text-uppercase text-white text-xs font-weight-bolder opacity-12"></th>
                          <th class="text-uppercase text-white text-xs font-weight-bolder opacity-12">Producto</th>
                          <th class="text-uppercase text-white text-xs font-weight-bolder opacity-12">Codigo</th>
                          <th class="text-uppercase text-white text-xs font-weight-bolder opacity-12">Cantidad</th>
                          <th class="text-uppercase text-white text-xs font-weight-bolder opacity-12">Total</th>
                        </thead>
                        <tbody id="tabla-ventas">
                        </tbody>
                      </table>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                  </div>
                </div>
            </div>
    </div>
    <div class="col-md-4 text-white">
        <div class="card card-pricing">
            <div
              class="card-header bg-gradient-info text-center pt-4 pb-5 position-relative"
            >
              <div class="z-index-1 position-relative">
                <h5 class="text-white text-uppercase">Total Compra</h5>
                <h1 class="text-white mt-2 mb-0" id="ventaa">
                <small id="total-compra">$ </small>0
                </h1>
                <h6 class="text-white text-uppercase mt-3">Total a devolver</h6>
                <div id="volver">
                  <h4 class="text-white" id="devolver">0</h4>
                </div>
              </div>
            </div>
          <div class="position-relative mt-n5" style="height: 50px;">
          <div class="position-absolute w-100">
            <svg class="waves waves-sm" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
          <defs>
            <path id="card-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
          </defs>
          <g class="moving-waves">
            <use xlink:href="#card-wave" x="48" y="-1" fill="rgba(255,255,255,0.30"></use>
            <use xlink:href="#card-wave" x="48" y="3" fill="rgba(255,255,255,0.35)"></use>
            <use xlink:href="#card-wave" x="48" y="5" fill="rgba(255,255,255,0.25)"></use>
            <use xlink:href="#card-wave" x="48" y="8" fill="rgba(255,255,255,0.20)"></use>
            <use xlink:href="#card-wave" x="48" y="13" fill="rgba(255,255,255,0.15)"></use>
            <use xlink:href="#card-wave" x="48" y="16" fill="rgba(255,255,255,0.99)"></use>
          </g>
        </svg>
      </div>
      </div>
      <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Documento</label>
            <input type="text" class="form-control form-control-sm" value="FACTURA" id="documento" readonly>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Tipo pago</label>
            <select
              class="form-control form-control-sm"
              id="tp_pago"
            >
            <option value="EFECTIVO">EFECTIVO</option>
            <option value="NEQUI">NEQUI</option>
            <option value="BANCOLOMB">BANCOLOMBIA</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row" id="referencia-hid" hidden>
        <div class="col-md-12">
          <div class="form-group">
            <input type="text" id="referencia" class="form-control form-control-sm" placeholder="Referencia de pago">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Sede</label>
            <input type="text" class="form-control form-control-sm" value="Sede terminal" id="sede" readonly>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>N° de venta</label>
            <input
              type="text"
              class="form-control form-control-sm"
              value="VNT001"
              id="consecutivo"
              readonly
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Impuesto</label>
            <select class="form-control form-control-sm">
              <option value="">A</option>
              <option value="">B</option>
              <option value="">C</option>
              <option value="">D</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Fecha</label>
            <input type="text" class="form-control form-control-sm" value="21-10-2022" readonly>
          </div>
        </div>
      </div>
      <div class="row mt-3">
          <div class="col-md-12">
            <div class="form-group">
          </div>
        </div>
      </div>
      </div>
      </div>
    </div>
   </div>
  </div>
</div>
<br>
<br>
<footer class="footer py-3">
<div class="container">
  <div class="row">
    <div class="col-8 mx-auto text-center mt-1">
      <p class="mb-0 text-secondary">
        Todos los derechos reservados ©
        <script>
          document.write(new Date().getFullYear())
        </script> SolutionTI
      </p>
    </div>
  </div>
</div>
</footer>
