<main class="main-content mt-0">
  <section>
    <div class="page-header min-vh-100">
      <div class="container">
        <div class="row">
          <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
            <div class="card card-plain">
              <div class="card-header pb-0 text-center">
                  <!-- <img src="http://localhost/CODEIGNITER/ventas-buenviaje/public/img/theme/logo.png" width="90px;" class="img-fluid mb-3"> -->
                  <h3> <span class="text-primary h4 font-weight-bold">Invent</span> <span class="text-default h2 font-weight-bold">Soft</span> </h3>
              </div>
              <div class="card-body">
                <h6 class="font-weight-bolder text-uppercase mt-2">Iniciar Sesión</h6>
                <p class="mb-0">Ingresa tu usuario y contraseña</p>
                  <div class="messageError mt-2"></div>
                  <form role="form">
                    <div class="mb-3">
                      <input
                        type="text"
                        class="form-control form-control-md"
                        id="correo"
                        placeholder="Usuario"
                      >
                    </div>
                    <div class="mb-3">
                      <input
                        type="password"
                        class="form-control
                        form-control-md"
                        id="password"
                        placeholder="Contraseña"
                      >
                    </div>
                    <div class="form-check form-switch">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="rememberMe"
                      >
                      <label
                        class="form-check-label"
                        for="rememberMe"
                      >
                        Ver contraseña
                      </label>
                    </div>
                    <div class="text-center">
                      <button
                        type="button"
                        id="login"
                        class="btn btn-lg btn-primary text-white btn-lg w-100 mt-4 mb-0"
                      >
                        Ingresar
                      </button>
                    </div>
                  </form>
                </div>
                <div class="card-footer text-center pt-0 px-lg-2 px-1">
                  <p class="mb-4 text-sm mx-auto">
                    No tienes usuario?
                    <a
                      href="javascript:;"
                      class="text-primary
                      text-gradient font-weight-bold"
                    >
                      Solicitar
                    </a>
                  </p>
                </div>
              </div>
              <footer class="footer py-3">
                <div class="container">
                  <div class="row">
                    <div class="col-8 mx-auto text-center mt-1">
                      <p class="mb-0 text-secondary">
                        Todos los derechos © {{ copyright }} SolutionTI
                      </p>
                    </div>
                  </div>
                </div>
              </footer>
            </div>
            <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
              <div
                class="position-relative bg-gradient-success h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center overflow-hidden"
                style="background-image: url('https://cdn.pixabay.com/photo/2012/04/03/22/49/fruits-25266_960_720.jpg');
                background-size: cover;"
              >
                <span class="mask  opacity-6"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
