<div
  class="position-absolute w-100 min-height-400 top-0 bg-default"
>
  <span class="mask  opacity-6"></span>
</div>
<div class="main-content position-relative max-height-vh-100 h-100">
  <nav
    class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl"
    id="navbarBlur"
    data-scroll="false"
  > 
  <div class="container-fluid py-1 px-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
        <li class="breadcrumb-item text-sm">
          <a class="opacity-5 text-white" href="javascript:;">Inventsoft</a>
        </li>
        <li class="breadcrumb-item text-sm text-white active" aria-current="page">Perfil</li>
      </ol>
      <h6 class="font-weight-bolder text-white mb-0">Perfil</h6>
    </nav>
    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
      <div class="ms-md-auto pe-md-3 d-flex align-items-center">
        <div class="input-group">
        </div>
      </div>
      <ul class="navbar-nav  justify-content-end">
        <li class="nav-item d-flex align-items-center">
          <a href="http://localhost/CODEIGNITER/ventas-buenviaje/cerrarsesionclientes" class="nav-link text-white font-weight-bold px-0">
            <i class="fa fa-user me-sm-1"></i>
            <span class="d-sm-inline d-none">Cerrar Sesión</span>
          </a>
        </li>
        <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
          <a href="javascript:;" class="nav-link text-white p-0" id="iconNavbarSidenav">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line bg-white"></i>
              <i class="sidenav-toggler-line bg-white"></i>
              <i class="sidenav-toggler-line bg-white"></i>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="card-body p-3">
<div class="row gx-3">
<div class="col-auto">
  <div class="avatar avatar-xl position-relative">
    <img
      src="http://localhost/CODEIGNITER/ventas-buenviaje/public/img/theme/team-41.jpg"
      alt="profile_image"
      class="w-100 border-radius-lg shadow-sm"
    >
  </div>
</div>
<div class="col-auto my-auto">
  <div class="h-100">
    <h5 class="mb-0 text-white">
      JERSON GALVEZ ENSUNCHO
    </h5>
    <p class="mb-0 font-weight-bold text-sm text-white text-uppercase">
      Administrador
    </p>
  </div>
</div>
<div class="col-lg-8 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto text-uppercase">
  <div class="nav-wrapper position-relative end-0">
    <ul class="nav nav-pills nav-fill p-1" role="tablist">
      <li class="nav-item">
        <a
          class="nav-link sidebar-link mb-0 px-0 py-1 d-flex align-items-center justify-content-center "
          routerLink="usuario"
          routerLinkActive="active"
          
        >
          <span class="ms-2">Perfil</span>
        </a>
      </li>
      <li
        class="nav-item" 
        routerLink="perfil"
        routerLinkActive="active"
      >
        <a
          class="nav-link mb-0 px-0 py-1  d-flex align-items-center justify-content-center "
        >
          <span class="ms-2">Usuarios</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link mb-0 px-0 py-1 d-flex align-items-center justify-content-center"
          href="#"
        >
          <i class="ni ni-email-83"></i>
          <span class="ms-2">Inventarios</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link mb-0 px-0 py-1 d-flex align-items-center justify-content-center"
          href="#"
        >
          <i class="ni ni-settings-gear-65"></i>
          <span class="ms-2">Ventas</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link mb-0 px-0 py-1 d-flex align-items-center justify-content-center"
          href="#"
        >
          <i class="ni ni-settings-gear-65"></i>
          <span class="ms-2">Gastos</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link mb-0 px-0 py-1 d-flex align-items-center justify-content-center"
          href="#"
        >
          <i class="ni ni-settings-gear-65"></i>
          <span class="ms-2">Devoluciones</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link mb-0 px-0 py-1 d-flex align-items-center justify-content-center "
          href="#"
        >
          <i class="ni ni-settings-gear-65"></i>
          <span class="ms-2">Reportes</span>
        </a>
      </li>
    </ul>
   </div>
  </div>
 </div>
</div>
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-md-3">
      <div class="card card-profile">
        <img
          src="https://i.pinimg.com/736x/47/9f/68/479f682d3fbc404f7aeda26cae94dc5e.jpg"
          height="170px;"
          alt="Image placeholder"
          class="card-img-top"
        >
        <div class="row justify-content-center">
          <div class="col-4 col-lg-4 order-lg-2">
            <div class="mt-n4 mt-lg-n6 mb-4 mb-lg-0">
              <a href="javascript:;">
                <img src="http://localhost/CODEIGNITER/ventas-buenviaje/public/img/theme/team-41.jpg" class="rounded-circle img-fluid border border-2 border-white">
                <i class="fas fa-circle text-success mx-1"> </i> En linea
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-0 pt-lg-2 pb-4 pb-lg-3">
          <div class="d-flex justify-content-between">
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="row">
            <div class="col">
              <div class="d-flex justify-content-center">
                <div class="d-grid text-center">
                  <span class="text-lg font-weight-bolder">0</span>
                  <span class="text-sm opacity-8">Ventas</span>
                </div>
                <div class="d-grid text-center mx-4">
                  <span class="text-lg font-weight-bolder">0</span>
                  <span class="text-sm opacity-8">Productos</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center mt-4">
            <h6 class="font-weight-light" >
              REINEL JERSON<span class="font-weight-light"> GALVEZ ENSUNCHO</span>
            </h6>
            <div class="h6 font-weight-300 font-weight-light">
              <i class="ni location_pin mr-2"></i>ultima sesion
              <small>21-10-2022</small>
            </div>
            <div class="h6 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>
            </div>
            <div>
              <i class="ni education_hat mr-2"></i>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card"> 
        <div class="card-body">
          <p class="text-uppercase text-sm">Información del usuario</p>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-control-label">Usuario</label>
                <input
                  class="form-control form-control-sm"
                  type="text"
                  value="jersongalvez"
                  readonly
                >
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-control-label">Correo electronico</label>
                <input
                  class="form-control form-control-sm"
                  type="email"
                  value="solutionti2021@gmail.com"
                  readonly
                >
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-control-label">Apellidos</label>
                <input
                  class="form-control form-control-sm"
                  type="text"
                  value="GALVEZ ENSUNCHO"
                  readonly
                >
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-control-label">Nombres</label>
                <input
                  class="form-control form-control-sm"
                  type="text"
                  value="JERSON"
                  readonly
                >
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group has-validation">
                <label class="form-control-label">Telefono</label>
                <input
                  class="form-control form-control-sm"
                  type="text"
                  id="telefono"
                  value="3155639791"
                  required
                >
                <div class="invalid-feedback">
                  Campo obligatorio
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group has-validation">
                <label class="form-control-label">Dirección</label>
                <input
                  class="form-control form-control-sm"
                  type="text"
                  id="direccion"
                  value="cr 26 # 67 - 30 B/AMBALA"
                >
                <div id="validationServer03Feedback" class="invalid-feedback">
                  Campo obligatorio
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-control-label">Estado</label>
                <input
                  class="form-control form-control-sm"
                  type="text"
                  value="Activo"
                  readonly
                >
              </div>
            </div>
        </div>
        <br>
        <hr class="horizontal dark">
        <br>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card"> 
      <div class="card-body">
        <p class="text-uppercase text-sm">Notas rapidas <i class="fa-regular fa-note-sticky text-primary"></i></p> 
        <div class="card-body pt-4 p-3">
            <ul class="list-group">
            <li class="border-0 d-flex  bg-gray-100 border-radius-lg">
            <div class="d-flex flex-column">
            <h6 class=" text-sm">Pagar proveedor</h6>
            <span class="mb-2 text-xs">Asunto: <span class="text-dark font-weight-bold ms-sm-0">
                se debe pagar al proveedor de cocacola
            </span></span>
            </div>
            </li>
            </ul>
            </div>
      </div>
    </div>
  </div>
 </div>
</div>
<footer class="footer py-3">
  <div class="container">
    <div class="row">
      <div class="col-8 mx-auto text-center ">
        <p class="mb-0 text-secondary">
            Todos los derechos reservados © {{ copyright }} SolutionTI
        </p>
      </div>
    </div>
  </div>
</footer>