<div
  class="position-absolute w-100 min-height-400 top-0 bg-default"
>
    <span class="mask bg-default opacity-6"></span>
  </div>
  <div class="main-content position-relative max-height-vh-100 h-100">
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" href="javascript:;">Inventsoft</a></li>
            <li class="breadcrumb-item text-sm text-white active" aria-current="page">Reportes</li>
          </ol>
          <h6 class="font-weight-bolder text-white mb-0">Reportes</h6>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center">
            <div class="input-group">
            </div>
          </div>
          <ul class="navbar-nav  justify-content-end">
            <li class="nav-item d-flex align-items-center">
              <a href="http://localhost/CODEIGNITER/ventas-buenviaje/cerrarsesionclientes" class="nav-link text-white font-weight-bold px-0">
                <i class="fa fa-user me-sm-1"></i>
                <span class="d-sm-inline d-none">Cerrar Sesión</span>
              </a>
            </li>
            <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-white p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line bg-white"></i>
                  <i class="sidenav-toggler-line bg-white"></i>
                  <i class="sidenav-toggler-line bg-white"></i>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="card-body p-3">
  <div class="row gx-4">
    <div class="col-auto">
      <div class="avatar avatar-xl position-relative">
        <img
          src="http://localhost/CODEIGNITER/ventas-buenviaje/public/img/theme/team-41.jpg"
          alt="profile_image"
          class="w-100 border-radius-lg shadow-sm"
        >
      </div>
    </div>
    <div class="col-auto my-auto">
      <div class="h-100">
        <h5 class="mb-1 text-white">
          JERSON GALVEZ ENSUNCHO        </h5>
        <p class="mb-0 font-weight-bold text-sm text-white text-uppercase">
          Administrador        </p>
      </div>
    </div>
    <div class="col-lg-8 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
      <div class="nav-wrapper position-relative end-0">
        <ul class="nav nav-pills nav-fill p-1" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link mb-0 px-0 py-1 d-flex align-items-center justify-content-center "
              href="http://localhost/CODEIGNITER/ventas-buenviaje/clientes/inicio"
            >
              <i class="ni ni-settings-gear-65"></i>
              <span class="ms-2">Inicio</span>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link mb-0 px-0 py-1  d-flex align-items-center justify-content-center "
              href="http://localhost/CODEIGNITER/ventas-buenviaje/clientes/laboratorio"
            >
              <i class="ni ni-app"></i>
              <span class="ms-2">Usuarios</span>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link mb-0 px-0 py-1 d-flex align-items-center justify-content-center"
              href="http://localhost/CODEIGNITER/ventas-buenviaje/clientes/patologia"
            >
              <i class="ni ni-email-83"></i>
              <span class="ms-2">Inventarios</span>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link mb-0 px-0 py-1 d-flex align-items-center justify-content-center"
              href="http://localhost/CODEIGNITER/ventas-buenviaje/clientes/ventas"
            >
              <i class="ni ni-settings-gear-65"></i>
              <span class="ms-2">Ventas</span>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link mb-0 px-0 py-1 d-flex align-items-center justify-content-center"
              href="http://localhost/CODEIGNITER/ventas-buenviaje/clientes/gastos"
            >
              <i class="ni ni-settings-gear-65"></i>
              <span class="ms-2">Gastos</span>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link mb-0 px-0 py-1 d-flex align-items-center justify-content-center"
              href="#"
            >
              <i class="ni ni-settings-gear-65"></i>
              <span class="ms-2">Devoluciones</span>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link mb-0 px-0 py-1 d-flex align-items-center justify-content-center "
              href="http://localhost/CODEIGNITER/ventas-buenviaje/clientes/ecografias"
            >
              <i class="ni ni-settings-gear-65"></i>
              <span class="ms-2">Reportes</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header pb-0">
              <div class="d-flex align-items-center">
                <p class="mb-0 h6 text-uppercase">Reportes Generales</p>
              </div>
            </div>
          <div class="card-body">
        <div class="container-fluid py-4">
      <div class="row">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Venta Diaria</p>
                    <h5 class="font-weight-bolder">
                      2
                    </h5>
                    <p class="mb-0">
                      <span class="text-success text-sm font-weight-bolder">100%</span>
                    </p>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
                    <i class="fas fa-users text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Gastos</p>
                    <h5 class="font-weight-bolder">
                      0
                    </h5>
                    <p class="mb-0">
                      <span class="text-success text-sm font-weight-bolder">+50%</span>
                    </p>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle">
                    <i class="fas fa-file-contract text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Gastos - Venta</p>
                    <h5 class="font-weight-bolder">
                      8
                    </h5>
                    <p class="mb-0">
                      <span class="text-success text-sm font-weight-bolder">+70%</span>
                    </p>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-success shadow-success text-center rounded-circle">
                    <i class="fas fa-money-bill text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Producto</p>
                    <h5 class="font-weight-bolder">
                      8
                    </h5>
                    <p class="mb-0">
                      <span class="text-success text-sm font-weight-bolder">+50%</span>
                    </p>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-warning shadow-warning text-center rounded-circle">
                    <i class="fas fa-user-md text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-3">
          <div class="card border-1">
            <div class="card-body">
              <h5 class="card-title">Tablero de reportes</h5>
              <label>Seleccione el reporte a consultar</label>
              <select name="" id="" class="form-control">
               <option value="">SELECCIONE UNA OPCIÓN</option>
               <option value="">Transacciones por dia</option>
               <option value="">Reporte de merma</option>
               <option value="">Transacciones por producto</option>
               <option value="">Top productos venta</option>
               <option value="">Ventas por categoria</option>
               <option value="">Venta de los empleados</option>
              </select> 
            </div> 
          </div>
        </div>
        <div class="col-md-9">
          <div class="card border-1">
            <div class="card-body">
               <!--contenido  -->
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer py-3">
<div class="container">
  <div class="row">
    <div class="col-8 mx-auto text-center mt-1">
      <p class="mb-0 text-secondary">
        Todos los derechos reservados ©
        <script>
          document.write(new Date().getFullYear())
        </script> SolutionTI
      </p>
    </div>
  </div>
</div>
</footer>
